@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<div>
<h1>Om sidan</h1>

<p> Denna webbplats är skapad med hjälp av Razor som är en programmeringssyntax för att kunna skriva serverbaserade webbplatser och används främst med ASP.NET. Syftet med att använda Razor är att föenkla inbäddningen av serverkod (C# eller VB.NET). <br> Razor gör det också möjligt att blanda HTML och serverkod på ett enkelt och mer läsbart sätt.</p>
<p> Webbplatsen skapades i samband med moment 1 i kursen DT191G</p>
</div>