<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moment 1.1 Razor</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/razor.styles.css" asp-append-version="true" />
</head>
<body>

@{
    var date = DateTime.Now.ToString("yyyy-mm-dd");
}
    <header>
        <a asp-page="/Index"><img src="/images/net.png" alt=""></a>
        <div class="date">
            @* Datumrutan här... *@
            <p>Dagens datum är: @date</p>
        </div>
    </header>

    <div class="container">
        <nav>
            <ul>
                <li><a asp-area="" asp-page="/Index">Start</a></li>
                <li><a asp-area="" asp-page ="/Razor">Razor</a></li>
                <li><a asp-area="" asp-page="/About">Om sidan</a></li>
            </ul>
        </nav>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <footer>
        <div>
            <p>Av Student Maria Halvarsson - Kontakta mig via epost: maha2216@@student.miun.se</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>